<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> CRYPTO - {% block title %} {% endblock %} </title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="/static/css/pico.css">
        <link rel="stylesheet" href="/static/css/styles.css"> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
    </head>
    <body>
        <header data-theme="dark">
            <div class="header_crypto">
                <table>
                    <tbody>
                    <tr>
                    <td>
                        <img src="/static/css/imagenes/bitcoin_1.png"  width="300"> 
                    </td>
                    <td>
                        <img src="/static/css/imagenes/bitcoin_3.gif"  width="400"> 
                    </td>
                    </tr>
                    </tbody>
                    </table>
            </div>
            
        </header> 
        <div class ="nav_bottom">
            {% block Nav %} 
            {% endblock %} 
        </div>
        

                                
                <div class="container">
                    {% block content %}
                
                    {% endblock %}
                </div>

        <footer data-theme="dark" >
            &copy; 2021. Todos los derechos reservados
        </footer>             
    </body> 
</html>
