
{% extends 'index.html' %}

{% block title %}  Compra {% endblock %}

{% block Nav %} 
<table>
        <tr>
                <th> <a href="/"><button class ="boton_nav">INICIO</button></a></th>
                <th> <button class ="boton_nav", disabled = "disabled"> COMPRA </button> </th>
                <th><a href="/status">  <button class ="boton_nav">STATUS</button> </a></th>
        </tr>
</table>
{% endblock %}

{% block content %}
        {% for mensaje in mensajes %}
            <p class="errores_try">{{mensaje}}</p>
        {% endfor %}
        <form action="purchase" method="POST">  
            {{ form.hidden_tag()}}
            <table>
                {% if vacio == True %}
                    <div class = "select_2" data-theme="dark"> 
                                <tr>
                                    <td>
                                        {{form.from_currency.label}} 
                                        {{form.from_currency}}
                                        </td>
                                        <td> 
                                        {{form.to_currency.label}} 
                                        {{form.to_currency}}
                                    </td>
                                    <td rowspan="2">
                                        <div class = "calculadora_boton"> 
                                            {{form.calculadora}}
                                        </div>
                                    </td>
                                    {% for error in form.from_currency.errors %}
                                    <p style="color: rgb(236, 34, 102);; font-weight: 600;">
                                    {{ error }}
                                    </p>
                                    {% endfor %}
                                </tr>
                    </div>
                    <div class= cantidad_coin>
                        <tr>
                            <td  colspan="2">
                                {{form.from_cantidad( placeholder='Ingresa Moneda a Invertir') }}
                                {% for error in form.from_cantidad.errors %}
                                <p style="color: rgb(236, 34, 102); font-weight: 600;">
                                    {{ error }}
                                </p>
                                {% endfor %}
                            </td>
                        </tr>                           
                    </div>
                    <tr>
                        <td colspan="2">
                            {{form.to_cantidad.label}}
                            {{form.to_cantidad(disabled="disabled")}}  
                        </td>
                        <td colspan="2">
                            {{form.precio_unitario.label}}
                            {{form.precio_unitario(disabled="disabled")}}
                        </td>
                        <td>
                            {{form.guardar(disabled="disabled")}}
                        </td>
                    </tr>
                {% else %}
                <div class = "select_2" data-theme="dark"> 
                    <tr>
                        <td>
                        {{form.from_currency.label}} 
                        {{form.from_currency(value=api_coin[1], disabled = "disabled")}}
                        {{form.from_currency(value=api_coin[1], hidden="hidden")}}
                        </td>
                        <td>
                        {{form.to_currency.label}} 
                        {{form.to_currency(value=api_coin[2], disabled="disabled")}}
                        {{form.to_currency(value=api_coin[2], hidden="hidden")}}
                        </td>
                        <td rowspan="2">
                            <div class ="calculadora_boton">
                            {{form.calculadora(disabled="disabled")}}
                            </div>
                        </td>
                    </tr>
                </div> 
                <div class= cantidad_coin>    
                    <tr>
                        <td colspan="2">
                            {{form.from_cantidad.label}}
                            {{form.from_cantidad(readonly="readonly",value=api_coin[0])}}
                        </td>
                    </tr>
                </div>
                <tr></tr>
                    <td colspan="2">
                        {{form.to_cantidad.label}}
                        {{form.to_cantidad(readonly="readonly",value=api_coin[3])}}
                    </td>
                    <td colspan="2">
                        {{form.precio_unitario.label}}
                        {{form.precio_unitario(readonly="readonly",value=api_coin[4])}}
                    </td>
                    <td class ="boton_inv">
                        {{form.guardar}}  
                    </td>
                {% endif %}                                            
            </table>
        </form>
{% endblock %}